@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
:root {
    --font : 'Commissioner', sans-serif;
    --white : #FFFFFF;
    --moderate-cyan : hsl(176, 50%, 47%);
    --dark-cyan : hsl(176, 72%, 28%);
    --black : hsl(0, 0%, 0%);
    --dark-gray : hsl(0, 0%, 48%);
}

body{
    font-family: var(--font);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}
.nav__enlaces{
    display: none;
}
.hero {
    background-image: url("../images/image-hero-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;    
}
.main {
    margin: 30px 25px;
    position: relative;
    top: -80px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card{
    padding: 47px 22px;
    border: 1px solid #0002;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: var(--white);
}
.card-titulo {
    margin-top: 0;
}
.card__center {
    text-align: center;
}
.card__boton {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn{
    padding: 18px 40px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 700;
    color: var(--white);
    background: var(--moderate-cyan);
    border: none;
    cursor: pointer;
    transition: background ease 1s;
    -webkit-transition: background ease 1s;
    -moz-transition: background ease 1s;
    -ms-transition: background ease 1s;
    -o-transition: background ease 1s;
}

.bookmark {
    background: transparent;
    padding: 0;
    border: none;
}

.text-bookmark {
    display: none;
}

.btn-gray{
    background: var(--dark-gray);
    cursor: no-drop;
}
.text-black {
    font-weight: 700;
}
.text-gray{
    font-size: 14px;
    color: var(--dark-gray);
    line-height: 1.5em;
    font-weight: 400;
}
.text-cyan {
    color: var(--moderate-cyan);
    font-weight: 500;
    margin-top: -10px;
}
.card__logo{
    position: absolute;
    display: block;
    margin: auto;
    top: -30px;
    left: 0;
    right: 0;
}
.card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card__info .text-black {
    margin: 0;
}
.card__border{
    border-top: 1px solid #0002;
    border-bottom: 1px solid #0002;
    margin: 20px 0;
}
.card__border .text-black{
    margin: 20px 0;
}
.card__range {
    width: 100%;
    height: 12px;
    background: #0001;
    position: relative;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.card__range::after {
    content: "";
    position: absolute;
    background: var(--moderate-cyan);
    width: 80%;
    height: 12px;
    left: 0;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.card__planes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__planes-item {
    border: 1px solid #0002;
    padding: 23px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.card__planes-name{
    margin-top: 0;
    color: var(--black);
    font-weight: 700;
}
.card__planes-disable {
    opacity: .5;
}
.select__modal .select{
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

/*JS*/

.card__successful {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 440px;
    margin: auto;
    padding: 40px 25px;
    border-radius: 10px;
    position: absolute;
    background: var(--white);
    top: -100px;
    left: 0;
    right: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    gap: 20px;
    z-index: 20;
}
.contenedor::after{
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0003;
    z-index: 10;
}

.contenedor__select-modal::after{
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0003;
    z-index: 10;
}


.card__successful-icon{
    width: 80px;
    margin-bottom: 10px;
}
.card__successful .text {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
}
.card__successful-titulo {
    margin: 0;
    text-align: center;
}
.card__successful .btn {
    padding: 15px 40px;
}
.select__modal{
    position: absolute;
    z-index: 100;
    top: -130px;
}
.select__modal-icon{
    position: absolute;
    right: 22px;
}
.selected__pledge{
    position: relative;
    margin-top: 30px;
    display: none;
}
.selected__pledge::after{
    content: "";
    display: block;
    width: calc(100% + 46px);
    height: 1px;
    background: #0002;
    position: absolute;
    top: -20px;
    left: -23px;
    z-index: 100;
}

.card__planes-item .select-radio{
    width: 20px;
    height: 20px;
}
.selected__pledge-confirmar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
.selected__pledge .text-gray {
    text-align: center;
    margin-top: 45px;
}
.selected__pledge-confirmar .btn {
    padding: 15px 25px;
}

.selected__pledge-confirmar .dolar {
    position: absolute;
    font-weight: 700;
    color: var(--dark-gray);
    left: 30px;
    top: 16px;
}
.selected__pledge-confirmar .input {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: 1px solid #0002;
    max-width: 50px;
    padding: 15px 25px;
    text-align: center;
    font-weight: 700;
    color: var(--black);
    outline: none;
}
.select__modal-active .contenedor__select-modal{
    display: block;
}

/*JAVA SCRIPT*/

.select__activo {
    border: 2px solid var(--moderate-cyan);
}
.select__activo .selected__pledge {
    display: block;
}

@media (min-width:700px){
    .hero {
        background-image: url("../images/image-hero-desktop.jpg");
        background-position: center;
        height: 350px;
    }
    .nav{
        padding: 40px 5em;
    }
    .nav__icon {
        display: none;
    }
    .nav__enlaces{
        display: flex;
        gap: 25px;
        color: white;
        font-weight: 500;
        cursor: pointer;
    }
    .main{
        max-width: 730px;
        margin: auto;
    }
    .card {
        padding: 40px;
    }
    .card__boton{
        justify-content: space-between;
        margin-top: 20px;
    }
    .card__info{
        text-align: left;
        align-items: inherit;
        gap: 30px;
    }
    .card__info-group{
        display: flex;
        justify-content: flex-start;
    }
    .card__info-group .text-gray {
        margin: 0;
    }
    .card__border{
        border: none;
        border-left: 1px solid #0002;
        border-right: 1px solid #0002;
    }
    .card__border .text-black {
        margin: auto;
    }
    .card__border {
        padding: 0 40px;
        margin: 0 40px;
    }
    .card__range::after{
        width: 65%;
    }
    .text-gray {
        font-size: 16px;
    }
    .card__planes {
        gap: 30px;
        margin-top: 30px;
    }
    .card__planes-item {
        padding: 35px 35px 25px 35px; 
    }
    .card__planes-item .text-cyan{
        margin-top: 0;
    }
    .card__planes-contenedor{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .bookmark {
        display: inline-flex;
        align-items: center;
        background: #0001;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        padding: 10px 25px 10px 70px;
        position: relative;
        cursor: pointer;
        border: none;
    }
    .icon-bookmark {
        position: absolute;
        left: 0;
    }
    .text-bookmark {
        display: inline-block;
        font-weight: 700;
        color: var(--dark-gray);
        font-size: 16px;
}
    .bookmark:hover{
        opacity: .7;
        transition: opacity ease .5s;
        -webkit-transition: opacity ease .5s;
        -moz-transition: opacity ease .5s;
        -ms-transition: opacity ease .5s;
        -o-transition: opacity ease .5s;
    }
    .bookmark:focus {
        opacity: 1;
    }
    .bookmark:focus > .text-bookmark{
        color: var(--dark-cyan);
        font-weight: 700;
    }
    .bookmark:focus > .icon-bookmark circle {
        fill: var(--dark-cyan);
    } 
    .bookmark:focus > .icon-bookmark path {
        fill: var(--white);
    }
    .btn:hover{
        background: var(--dark-cyan);
        transition: background ease 1s;
        -webkit-transition: background ease 1s;
        -moz-transition: background ease 1s;
        -ms-transition: background ease 1s;
        -o-transition: background ease 1s;
    }
    .btn-gray:hover {
        background: var(--dark-gray);
        animation: none;
    }
    .card__successful {
        padding: 50px 55px;
        top: 140px;
        gap: 20px;
    }
    .card__successful-titulo {
        font-size: 1.5em;
    }

    .card__successful .text {
        font-size: 16px;
    }
    .card__successful-icon {
        width: 90px;
        margin-bottom: 10px;
    }    
    .selected__pledge {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }
    .selected__pledge::after {
        width: calc(100% + 70px);
        left: -35px;
    }
    .selected__pledge .text-gray {
        margin: 0;
    }
    .selected__pledge-confirmar {
        gap: 20px;
    }
}
@media (min-width:1440px){
    .hero{
        height: 400px;
    }
    .nav{
        padding: 50px 10.5em;
    }
    .main{
        top: -80px;
    }

}